{# templates/security/login.html.twig #}
<div class="modal fade" id="changePassword" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form method="POST" action="/change-password" id="change-password-form">
        <input type="hidden" name="token" value="{{ csrf_token('change-password') }}"/>
        <div class="modal-header">
          <h5 class="modal-title">Изменение пароля</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Текущий пароль" autocomplete="off" required="required" />
            <label for="currentPassword">Текущий пароль</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Новый пароль" autocomplete="off" required="required" />
            <label for="newPassword">Новый пароль</label>
            <div class="invalid-feedback d-none"></div>
          </div>
          <div class="form-floating mb-0">
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Подтверждение" autocomplete="off" required="required" />
            <label for="confirmPassword">Подтверждение</label>
            <div class="invalid-feedback d-none"></div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="spinner-border text-primary d-none" role="status"><span class="visually-hidden">Обработка...</span></div>
          <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="button" class="btn btn-sm btn-primary submit-btn" disabled>Изменить пароль</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="{{ asset('js/fragments/_change-password.js') }}"></script>